/* Home Screen */

button {
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
}

body {
  background-color: #FADADD;
}

body > .plant-container {
  font-family: century gothic, sans-serif;
  display: flex;
  flex-direction: row;
}

body > .plant-name-container {
  font-family: century gothic, sans-serif;
  display: flex;
  flex-direction: row;
  color: #654321;
  font-size: 1.5vw;
}

body > h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 9vw;
  color: rgb(75, 122, 71);
  text-align: center;
  margin: 20px 0 0 0;
}

body > h2 {
  font-family: century-gothic, sans-serif;
  color:#654321;
}

body > .plantButtons > #plant1{
  background-color: rgb(75, 122, 71);
  font-family: 'Indie Flower', cursive;
  font-size: 3vw;
  color: white;
  margin: 1vw;
  padding: 2vw;
  
}

body > .plantButtons > #plant2{
  background-color: rgb(75, 122, 71);
  font-family: 'Indie Flower', cursive;
  font-size: 3vw;
  color: white;
  padding: 2vw;
  margin: 1vw;
}

body > .plantButtons > #plant3{
  background-color: rgb(75, 122, 71);
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 3vw;
  padding: 2vw;
  margin: 1vw;
}

/* Gameplay Screen */