/* Home Screen */

button {
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
}

body {
  background-color: #FADADD;
}

body > p {
  font-family: century gothic, sans-serif;
  color: #654321;
  margin: 2rem 0 0 2rem;
  padding: 0px;
}

body > h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 9vw;
  color: rgb(75, 122, 71);
  text-align: center;
  margin: 20px 0 0 0;
}

body > h2 {
  font-family: century-gothic, sans-serif;
  color:#654321;
}

body > .plantButtons > #plant1{
  background-color: rgb(75, 122, 71);
  font-family: 'Indie Flower', cursive;
  font-size: 3vw;
  color: white;
  margin: 1vw;
  padding: 2vw;
  
}

body > .plantButtons > #plant2{
  background-color: rgb(75, 122, 71);
  font-family: 'Indie Flower', cursive;
  font-size: 3vw;
  color: white;
  padding: 2vw;
  margin: 1vw;
}

body > .plantButtons > #plant3{
  background-color: rgb(75, 122, 71);
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 3vw;
  padding: 2vw;
  margin: 1vw;
}

/* Gameplay Modal */

/* body > .countdownTimer {
  font-family: 'Indie Flower', cursive;
}

body > #countdownTimer > #countdownTimerDisplay {
  font-family: century gothic;
} */

.open {
  font-family: 'Indie Flower', cursive;
  font-size: 3vw;
}

#modal {
  display: none;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  border: 5px solid white;
  padding: 8px;
}

#modal > .userElements{
  display: flex;
  justify-content: right;
}

#modal > #warning1 {
  font-family: century-gothic, sans-serif;
  font-size: 3vw;
  text-align: left;
}

#modal > #warning2 {
  font-family: century-gothic, sans-serif;
  font-size: 3vw;
  text-align: left;
}

#modal > .userPlants {
  display: flex;
  justify-content: center;
  
}


.show {
  display: flex!important;
}

